@model  Telos.Admin.Web.Models.AlunoModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Aluno</legend>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CpfCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CpfCode)
    </div>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Rg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rg)
    </div>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Endereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endereco)
    </div>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Cep)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cep)
    </div>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.DataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataNascimento)
    </div>

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>

    <br />

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.NomeResponsavel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeResponsavel)
    </div>

    <br />

    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CpfResponsavel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CpfResponsavel)
    </div>

    <br />
   

</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.CpfCode }) |
    @Html.ActionLink("Voltar a Lista", "Index")
</p>
