@model  Telos.Admin.Web.Models.UnidadeModel

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Tem certeza que desejar apagar?</h3>
<fieldset>
    <legend>Unidade</legend>

    <div class="display-label label label-inverse">
        @Html.DisplayNameFor(model => model.UnidadeCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnidadeCode)
    </div> 
    
    <br />
    <div class="display-label label label-inverse">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>    

    <br />
    <div class="display-label label label-inverse">
        @Html.DisplayNameFor(model => model.Endereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endereco)
    </div> 

    <br />
    <div class="display-label label label-inverse">
        @Html.DisplayNameFor(model => model.Cep)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cep)
    </div> 

    <br />


</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Deletar" /> |
        @Html.ActionLink("Voltar para a Lista", "Index")
    </p>
}
